<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<appender name="console" class="ch.qos.logback.core.ConsoleAppender">	    
		<encoder>
	      <pattern>%-4relative [%thread] %-5level %logger{35} - %msg%n</pattern>
<!-- 	      <pattern>%-5level %logger{35} - %msg%n</pattern> -->
	    </encoder>		
	</appender>
		
  <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>${jboss.server.log.dir}/dif22.log</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
      <fileNamePattern>${jboss.server.log.dir}/dif22.%i.log.zip</fileNamePattern>
      <minIndex>1</minIndex>
      <maxIndex>5</maxIndex>
    </rollingPolicy>

    <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
      <maxFileSize>5MB</maxFileSize>
    </triggeringPolicy>
    <encoder>
      <pattern>%d{"yyyyMMdd HH:mm:ss,SSS"} [%thread] %5p | %-50.50logger{39} | %m%n</pattern>
    </encoder>
  </appender>
		

	 
	<logger name="com.gem.sistema" level="info" />
	<logger name="org.springframework" level="warn" />
	
	<!-- 	Mantener el logger de SqlExceptionHelper siempre en ERROR -->
 	<logger name="org.hibernate.engine.jdbc.spi.SqlExceptionHelper" level="ERROR" />
  	
	<logger name="org.hibernate" level="info" />
<!-- 	
	<logger name="org.springframework.beans" level="warn" />
	<logger name="org.springframework.data" level="warn" />
 -->
 
 <!-- Cuando se genere el war para un server, comentar el appender de console, y subir el nivel a warn.  !!!!!!!! -->
 
	<root level="warn">
			<appender-ref ref="FILE" />		
<!--     <appender-ref ref="console" /> -->
	</root>
</configuration>