.no-border {
	border: 0;
}

.ui-widget-content {
	border: 0;
}

.block {
	display: grid;
}

.left-text {
	text-align: left
}

.ui-radiobutton-icon {
	margin-left: 0 !important;
}

.checks label {
	margin-left: 5px !important;
	margin-right: 20px !important;
	font-weight: 100;
}

.seccion {
	border: 1px solid #dddddd;
	border-radius: 5px;
	margin-bottom: 5px;
}

.seccion>:first-child {
	border-bottom: 1px solid #dddddd;
	border-radius: 5px;
	background: #f4f4f4;
	width: 100%;
}

.panel-buttons button {
	margin-bottom: 5px;
	padding: 3px;
	width: 120px
}

.panel-buttons>div {
	padding: 0 !important;
}

.center {
	margin-left: auto;
	margin-right: auto;
}

.gray div:first-child {
	background: #e1e1e1 !important;
}

.buttons-solicitudes-list {
	text-align: right;
	display: grid;
}

.bar-detalle-solicitud {
	display: flex;
	justify-content: space-between;
}

.bar-detalle-solicitud>div>button {
	background-image: none !important;
	background-color: #8EB987 !important;
	color: #fff !important;
	border: 1px solid #8EB987 !important;
	font-size: 14px;
	margin: 0;
	margin-right: 0.1em;
	outline: 0 none;
	-moz-transition: background-color .3s;
	-o-transition: background-color .3s;
	-webkit-transition: background-color .3s;
	transition: background-color .3s;
}

.buttons-solicitudes-list>button {
	margin-bottom: 5px;
}

.card {
	position: relative;
	display: flex;
	flex-direction: column;
	min-width: 0;
	word-wrap: break-word;
	background-color: #fff;
	background-clip: border-box;
	border: 1px solid rgba(0, 0, 0, .125);
	border-radius: 5px;
	margin: 5px;
}

div.info {
	font-weight: bold;
	font-size: 15px;
}

div.info>label {
	font-weight: normal;
	font-size: 12px;
}

body .ui-steps .ui-steps-item {
	width: 24%;
	margin: 0 5px;
}

body .ui-state-highlight {
	border: 1px solid #007ad9;
}

body .ui-steps.custom {
	margin-bottom: 50px;
	margin-top: 20px;
}

body .ui-steps.custom :first-child {
	display: flex;
	flex-direction: row;
}

body .ui-steps.custom .ui-steps-item .ui-menuitem-link {
	height: 0;
	width: 100%;
	padding: 0 1em;
	overflow: visible;
	display: block;
	background-color: #FFFFFF;
}

body .ui-steps.custom .ui-steps-item .ui-menuitem-link .ui-steps-number
	{
	background-color: #8EB987 !important;
	color: #FFFFFF;
	display: inline-block;
	width: 24px;
	height: 24px;
	border-radius: 13px;
	margin-top: -10px;
	margin-bottom: 10px;
	position: relative;
	font-size: 1.3em;
	top: -8px;
}

body .ui-steps.custom .ui-steps-item .ui-menuitem-link .ui-steps-title {
	margin-top: -6px;
}

body .ui-steps.custom .ui-steps-item.ui-state-highlight .ui-menuitem-link .ui-steps-title
	{
	color: #555;
}

.steps-navigation {
	display: flex;
	align-content: center;
	justify-content: center;
	min-height: 40px;
}

.steps-navigation>button {
	max-height: 25px;
	background-color: #8EB987 !important;
	color: #fff !important;
	border: 1px solid #8EB987 !important;
	font-size: 14px;
	margin: 0;
	margin-right: 0.1em;
	outline: 0 none;
	-moz-transition: background-color .3s;
	-o-transition: background-color .3s;
	-webkit-transition: background-color .3s;
	transition: background-color .3s;
	background-image: none !important;
	margin-top: auto;
}

.lista-detalles-header {
	display: flex;
	justify-content: right;
	align-items: center;
}

.lista-detalles-header>input {
	width: 40% !important;
	margin-right: 5px;
}

.panel-captura-solicitud>div:nth-child(2) {
	min-height: 515px !important;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.panel-captura-solicitud input {
	width: 100%;
}

.panel-captura-solicitud .seccion {
	padding-bottom: 10px;
}

.panel-captura-solicitud .ui-chkbox {
	display: flex;
	align-items: center;
}

.panel-captura-solicitud .ui-selectoneradio label {
	background: #fff;
}

.select-one-menu {
	width: 100% !important;
}

.panel-articulos {
	margin-bottom: 10px;
}

.button-back-captura {
	cursor: pointer;
	width: fit-content;
}

.button-back-captura:hover {
	cursor: pointer;
}

.button-back-captura>button {
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	background-color: #f5f5f5;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff),
		to(#e6e6e6)) !important;
}

.button-back-captura>button:hover {
	cursor: pointer;
}

.pick-list {
	margin: 20px 0;
}

.pick-list div ul {
	width: 100% !important;
}

.item-pick-list {
	display: flex;
	justify-content: space-between;
	margin: 0 10px;
}

.item-pick-list:nth-child(1), .item-pick-list:nth-child(2) {
	max-width: 30%;
	width: 20%
}

.item-pick-list:nth-child(3), .item-pick-list:nth-child(4) {
	max-width: 30%;
	width: 20%
}

.save-pick-list {
	display: flex;
	justify-content: center;
}

.ui-picklist-buttons>div {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.ui-picklist-buttons button {
	max-height: 25px;
	background-color: #8EB987 !important;
	color: #fff !important;
	border: 1px solid #8EB987 !important;
	font-size: 14px;
	margin: 0;
	margin-right: 0.1em;
	outline: 0 none;
	-moz-transition: background-color .3s;
	-o-transition: background-color .3s;
	-webkit-transition: background-color .3s;
	transition: background-color .3s;
	background-image: none !important;
	margin-top: auto;
}

.button-green {
	max-height: 25px;
	background-color: #8EB987 !important;
	color: #fff !important;
	border: 1px solid #8EB987 !important;
	font-size: 14px;
	margin: 0;
	margin-right: 0.1em;
	outline: 0 none;
	-moz-transition: background-color .3s;
	-o-transition: background-color .3s;
	-webkit-transition: background-color .3s;
	transition: background-color .3s;
	background-image: none !important;
	margin-top: 5px;
}

.button-green.no-padding {
	padding: 0 !important;
}

.button-green.small {
	width: 100px;
}

.ui-messages {
	text-align: left;
}

.codigos .ui-datalist-item {
	border-bottom: 1px solid gray;
	display: flex;
	justify-content: space-around;
	display: flex;
}

.ui-confirm-dialog .ui-dialog-buttonpane {
	display: flex;
	justify-content: center;
}

.select_giro_omercial label {
	max-width: 100% !important;
}

.main {
	display: flex;
	width: 100%;
	max-width: 100%;
}

.main .left {
	min-width: 70%;
	max-width: 100%;
}

.main .right {
	border: 1px solid rgba(0, 0, 0, .125);
	border-radius: 5px;
	max-width: 24%;
	min-width: 24%;
	font-size: .8em;
	margin-left: 2px;
}

.header-panel-detalles {
	display: inline-flex;
	align-items: center;
	width: 100%;
}

.header-panel-detalles label {
	width: 100%;
	margin-bottom: 0px !important;
}

.ui-editor-toolbar {
	height: 50px !important;
	display: flex;
}

.editor-detalles>div {
	height: 100%
}

.editor-detalles>div>div {
	height: 100%
}

.editor-detalles>div>div>div.ui-editor {
	height: 98% !important;
}

.editor-detalles>div>div>div.ui-editor iframe {
	height: 94% !important;
}

div.pre-wrap {
	white-space: pre-line;
}
/*fondo obscuro solo para desarrollo*/
@media ( prefers-color-scheme :dark1) {
	.colorwhite {
		background: #202124 !important;
		color: white !important;
	}
	p.titleapp {
		color: white !important;
	}
	.container-fluid {
		background: #202124 !important;
		color: white !important;
	}
	.ui-widget-content {
		background: #202124 !important;
		color: white !important;
	}
	.ui-menuitem-link {
		color: white !important;
	}
	.panel-captura-solicitud .ui-selectoneradio label {
		color: white !important;
		background: #202124 !important;
	}
	.seccion>:first-child {
		color: white !important;
		background: #202124 !important;
	}
	.editor-detalles>div>div>div.ui-editor iframe {
		color: white inherit;
	}
}
/* 
@media ( prefers-color-scheme :light) {
	.ui-widget-content {
		background: #fff;
	}
} */
.add-button-codigos {
	padding-top: 20px;
}

.pl-0 {
	padding-left: 0;
}

.ui-panel.p-0>div {
	padding-left: 0 !important;
	padding-right: 0 !important;
}

.panel-view-img>div {
	display: flex;
	align-items: center;
	justify-content: center;
}