.panel-find-width {
	width:40%;
}
.output-find-insert-delete-pading {
   padding-left: 30px; 
   padding-right: 30px;
}
.input-find-insert-margin-top {
	margin-top: 10px;
}
.outputPanel-find-align {
	text-align:center;
}
.button-padding {
	padding: 5px;
}
.blockwidget-image-align {
	margin-right: 12px; 
	vertical-align: middle;
}
.blockwidget-output {
	white-space: nowrap;
}
.panel-new-register-width {
	width:100%;
}
.panel-new-register-button {
	margin-left: 50%; 
	padding: 5px;
}
.column-width {
	width:25%;
}
.column-facet-input-width {
	width:100%;
}
.column-delete-width {
	width:15%;
}
.column-edit-width {
	width:10%;
}
.imagefooter-excel-margin-left {
	margin-left: 80%;
}
.image-excel-margin-left {
	margin-left:15px;
}
.panel-delete-align {
	text-align:center;
}
.panel-delete-button-padding-margin {
	padding: 5px; 
	margin-left: 15px;
}
.panelgrid-insert-margin {
	margin:0 auto;
}
.output-insert-padding {
	padding-left: 30px; 
	padding-right: 30px; 
	margin-top: 15px;
}
.input-insert-margin {
	margin-top: 15px;
}
.outputpanel-insert-align {
	text-align:center;
}
.button-cancel-insert-padding {
	padding: 5px; 
	margin-left: 15px;
}